<form action="/update" method="POST">
    <label class="subtitle">Enter your new details</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Please Enter your updated First Name" name="firstname">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Please Enter your updated Surname" name="lastname">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Please Enter updated Password" name="password">
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <button class="button is-link">Update</button>
    </div>
</form>