{{#each stations}}
<div class="box box-link-hover-shadow">
    <h2 class="title">
        {{name}}
    </h2>
    <a href="/station/{{id}}" class="button">
        {{>icons/open}}
    </a>
    <a href="/dashboard/deleteStation/{{id}}" class="button">
        {{>icons/delete}}
    </a>
</div>
{{/each}}