{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather App v1.0
  </h3>
  <div class="section">
    Description of the app here...https://api.openweathermap.org/data/2.5/onecall?lat=52.160858&lon=-7.152420&units=metric&appid==4c39e307d83d080c629fbf012b9b8bb8
  </div>
</section>