{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather App v1.0
  </h3>
  <div class="section">
    A weather application that gives you the current weather for any location.
  </div>
</section>