{{> welcome-menu active="login"}}

<style>
    figure{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10em;
        height: 10em;
        width: 20em;
    }
</style>

<figure>
    <img src="../images/weather3.png">
</figure>

<form action="/authenticate" method="POST">
    <label class="subtitle">Welcome back, please enter your details below</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="email" placeholder="Email" name="email">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Password" name="password">
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <button class="button is-link">Login</button>
    </div>
</form>